.table {
  border: 2px solid #818ebb;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 125px;

  &_grid {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
}
